.progress{
   
    background: gainsboro;
    width: 1800px;
    height: 35px;
    align-items: center;
    position: relative;
    border-radius: 10px;
    display: flex;
    margin:40px;
    gap: 10px;


}

.n-first .progress-bar{
    background: none;
}

.n-second .progress-bar{
    background: blue;
    width: 25%;
    border-radius: 10px;
}

.n-thirsd .progress-bar{
    background: blue;
    width: 50%;
    border-radius: 10px;
}

.n-four .progress-bar{
    background: blue;
    width: 75%;
    border-radius: 10px;
}

.n-five .progress-bar{
    background: blue;
    width: 100%;
    border-radius: 10px;
}

.progress-bar{
    height: 35px;
    display: flex;
    border-radius: 10px;
    

}
   